

.cartDisplay {
    position: absolute;
    left: 25%;
    top: 300px;
    height: 570px;
    width: 900px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    @include bp(smallDesk) {
        left:26%;
        width: 45em;
        top: 15em;
        height:44em;
    }
    @include bp(mobile) {
        left:30%;
        width: 59%;
        
    }
    @include bp(responsive) {
        top:43vh;
        left:22%;
    }
    @include bp(ipadPro) {
        left:5%;
        top:54vh;
        width: 90%;
    }
    @include bp(ipad) {
        height:22em;
    }
    @include bp(iphone6P){
        top:39vh;
    }
    @include bp(iphone5) {
        width: 100vw;
        left:0;
        top: 39vh;
    }
    
}
.cartImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    @include bp(ipadPro) {
        width:20%;
        height:55%;
    }
}
.cartButtons {
    position: relative;
    top:0;
    @include bp(ipadPro) {
        left:55%;
    }
    @include bp(iphone5) {
        left:25%;
    }
}
.cart {
    display: flex;
    justify-content: space-between;
    align-content: center;
    @include bp(ipadPro) {
        width: 89vw;
        font-size: 30px;
    }
    @include bp(ipad) {
        font-size: 20px;
    }
    @include bp(iphone6P) {
        font-size:12px;
    }
    @include bp(iphone5) {
        padding: 5px;
        font-size: 9px;
        width: 100vw;
    }
}
.cancel {
    @extend %button-base;
    position: relative;
    bottom: -65vh;
    right: -70vw;
    background-color: $r;
    @include bp(responsive) {
        top: 33vh;
        right: -67vw;
    }
    @include bp(ipadPro) {
        bottom: -42vh;
    }
    @include bp(ipad) {
        right:-63vw;
        top:32vh;
    }
    @include bp(iphone6P) {
        right:-34vw;
        top:40vh;
    }
    @include bp(iphone6) {
        top: 44vh;
        right:-30vw;
    }
    @include bp(iphone5) {
        right: -15vw;
        width: 42%;
        top:48vh;
    }
   

}
.submit {
    @extend %button-base;
    position: relative;
    bottom: -65vh;
    right: -69vw;
    background-color:$b;
    
    @include bp(responsive) {
        top: 33vh;
        right: -64vw;
    }
    @include bp(ipadPro) {
        bottom: -42vh;
    }
    @include bp(ipad) {
        top: 32vh;
        right:-60vw;
    }
    @include bp(iphone6P) {
        right:-30vw;
        top:40vh;
    }
    @include bp(iphone6) {
        top: 44vh;
        right: -27vw;
    }
    @include bp(iphone5) {
        left:3px;
        top:48vh;
    }
}

.total {
    position: absolute;
    top:76%;
    right: 25%;
    @include bp(smallDesk) {
        top: 38em;
        right: 24%;
    }
    @include bp(mobile) {
        right:22%;
    }
    @include bp(responsive) {
        top: 75em;
        right: 27%;
    }
    @include bp(ipadPro) {
        top:67em;
    }
    @include bp(ipad) {
        top: 49em;
        right: 28%;
    }
    @include bp(iphone6P) {
        top: 32em;
        right:45%;
    }
    @include bp(iphone6) {
        top:31em;
    }
    @include bp(iphone5) {
        top:77vh;
        right: 35%;
    }
}
.cancelOrder {
    @extend %button-base;
    background-color: $r;
    position: relative;
    top: -1.2em;
    width: 25%;
    left: 5em;
    
}
.placeOrder {
    @extend %button-base;
    position: relative;
    top: 3.1em;
    left: -2em;
    background-color:$b;
   
}
.modal {
    font-size: 12px;
   }
   .modal > .header {
    width: 100%;
    border-bottom: 1px solid $g;
    font-size: 18px;
    text-align: center;
    padding: 5px;
   }
   .modal > .content {
    width: 100%;
    padding: 10px 5px;
   }
   .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
   }
   .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
   }