

.cartDisplay {
    position: absolute;
    left: 25%;
    top: 300px;
    height: 570px;
    width: 900px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    
}
.cartImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.cart {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.cancel {
    @extend %button-base;
    position: relative;
    bottom: -65vh;
    right: -70vw;
    background-color: $r;
   

}
.submit {
    @extend %button-base;
    position: relative;
    bottom: -65vh;
    right: -69vw;
    background-color:$b;
    
}

.total {
    position: absolute;
    top:76%;
    right: 25%;
    @include bp(smallDesk) {
        top: 34em;
        right: 23%;
    }

}
.cancelOrder {
    @extend %button-base;
    background-color: $r;
    position: relative;
    top: -1.2em;
    width: 25%;
    left: 5em;
    
}
.placeOrder {
    @extend %button-base;
    position: relative;
    top: 3.1em;
    left: -2em;
    background-color:$b;
   
}
.modal {
    font-size: 12px;
   }
   .modal > .header {
    width: 100%;
    border-bottom: 1px solid $g;
    font-size: 18px;
    text-align: center;
    padding: 5px;
   }
   .modal > .content {
    width: 100%;
    padding: 10px 5px;
   }
   .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
   }
   .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
   }