.menuImg {
    width:200px;
}
.dishes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.menuTitle {
    position: absolute;
    background-color: white;
    top: 150px;
    left: 300px;
    height: 800px;
    width: 70%;
    opacity: .9;
}
.MenuText {
    position: relative;
    top: 80px;
    left: 48%;
    width:100px;

}

.category {
    position: relative;
    left: 20%;
    top: 75px;
    height:800px;
}

.MenuSlider {
    position: relative;
    left: 3%;
    width:40%;
    .Menu {
      position: relative;
        left: 30%;
      .slick-prev, .slick-next {
        position: absolute;
        top: 55%
      }
      .slick-prev {
        
        left: 10%;
        z-index: 1;
      }
      .slick-next {
        right: -70%;
        z-index: 1;
        color: black;
      }
    }
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.dishes {
    height: 300px;
}

.slick-dots li button::before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: -75px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: rgb(0, 0, 0);
}