.orders {
    position: relative;
  
    top: 10vh;
    left: 25%;
    height:65vh;
    width: 60vw;
    overflow: scroll;
    @include bp(ipad) {
        width: 100vw;
        top: 1em;
        left: 0;
    }
    @include bp(iphone6P) {
        width: 100vw;
        top: 1em;
        left: 0;
    }
    
    
}

.orderDetails {
   
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25%;
    height: 25vh;
    width: 80%;
    display: flex;
    a{ color:black;
       
        text-decoration: none;}
    @include bp(smallDesk) {
        position: relative;
        left: 10%;
        }
    @include bp(mobile) {
        left:2%;
        
    }
    @include bp(iphone6P) {
        width: 100vw;;
        
    }
    @include bp(iphone6) {
        width:95vw;
    }
    @include bp(iphone5) {
        padding-top:20%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;

}

.ordersUpdateStatus {
    position: relative;
     top: 7em;
     left: 4em;
     width: 20em;
     display: flex;
     height: 40px;
     background-color: blue;
     border: none;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     @include bp(iphone6P) {
         top:2em;
         left: 7em;
         width:12em;
     }
     
  }
  .CompletedButton {
    position: relative;
    top: 7em;
    left: 6em;
    width: 20em;
    display: flex;
    height: 40px;
    background-color:green;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    @include bp(iphone6P) {
        top:8em;
        left: -2em;;
        width:12em;
    }
    @include bp(iphone5) {
        left: .2em;
    }
  }