.orders {
    position: relative;
  
    top: 10vh;
    left: 25%;
    height:65vh;
    width: 60vw;
    overflow: scroll;
    
    
}

.orderDetails {
   
    display: flex;
    justify-content: space-evenly;
    height: 25vh;
    width: 20vw;
    display: flex;
    a{ color:black;
        text-decoration: none;}
}

body {
    font-family: 'Montserrat', sans-serif;

}

.ordersUpdateStatus {
    position: relative;
     top: 7em;
     left: 4em;
     width: 80%;
     display: flex;
     height: 40px;
     background-color: blue;
     border: none;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     
  }