.orderTotal {
    position: relative;
    top:-6vh;
    left: 25%;
}
.back {
    position: relative;
    top: -5vh;
    left: 25%;
    display: flex;
    height: 40px;
    width: 100px;
    background-color: green;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}