.displayUsers {
    position: absolute;
    top: 20%;
    left: 20%;
    justify-content: space-evenly;
    width:65%;
    line-height: .5em;
    height: 76%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
   
}


    
.createOrder {
    position: relative;
    top: 1em;
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.users {
    margin-top: 3em;
    width: 250px;
}

@media (max-width:1409px) {
.displayUsers {
    left: 23%;
}
}

@media (max-width: 1242px) {
    .displayUsers {
        left: 28%;
        height: 73%;
    }
}

@media (max-width:1157px) {
    .displayUsers {
        left: 32%;
        width: 64%;
        height:65%;
    }
}
@media (max-width: 1118px) {
    .displayUsers {
        left: 29%;
        width:67%;
        height: 57%;

    }
}
@media (max-width:1040px) {
.displayUsers {
    top: 90vh;
    left: 15%;
    width: 80%;
}
}
@media (max-width: 857px) {
    .displayUsers {
        top: 78vh;
    }
}

@media (max-width: 742px) {
    .displayUsers {
        top: 70vh;
    }
}
