
.aboutContent {
    position: relative;
    top: 300px;
    left: 19%;
    width: 60%;
    height: 300px;
    background-color: white;
    opacity: .9;
    z-index: 1;
}
.aboutContent {
    display: flex;
    
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 9%;
    text-align: center;
    width: 100%;
}