
.aboutContent {
    position: relative;
    top: 300px;
    left: 24%;
    width: 60%;
    height: 300px;
    background-color: white;
    opacity: .9;
    z-index: 1;
}
.aboutContent {
    display: flex;
    
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 9%;
    text-align: center;
    width: 100%;
}

@media (max-width: 1023px) {
.aboutContent {
    top: 1em;
}
}

@media (max-width: 670px) {
    .aboutContent {
        flex-direction: column;
    }
}
@media (max-width:375px) {
    .aboutContent {
        top:0;
        height: 667px;

    }
}