.postImage {
    height: 600px;
    width:600px;
    object-fit: cover;
    overflow:hidden;
    float: left;
}
.content {
  display: flex;
  justify-content: space-evenly;
}
.text {
  position: relative;
  left: 2%;
  display: flex;
  flex-direction: column;
}
.white {
  background-color: white;
  position: absolute;
  top: 18%;
  left: 15%;
  height: 820px;
  width: 1100px;
  opacity: .8;
}
.slider {
    position: absolute;
    top: 22%;
    left: -14%;
    width: 1000px;
    .Posts {
      position: relative;
        left: 60%;
      .slick-prev, .slick-next {
        position: absolute;
        top: 55%
      }
      .slick-prev {
        
        left: 5%;
        z-index: 1;
      }
      .slick-next {
        right: 40%;
        z-index: 1;
      }
    }
}

.home {
  position: fixed;
  top:0;
  width: 100%;
  z-index: -1;
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
}

.address {
  
    height: 50px;
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
    font-size: 12px;
}

.adminUpdate {
  position: relative;
  top:400px;
  left: 55%;
  background-color: white;
  height: 300px;
  width: 220px;
  border-style: solid;
  border-width: 1px;

}

.adminInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-self: center;
  align-content: center;
}

.update {
  width:150px;
  position: relative;
  left: 15%;
 
}
.updateButton {
  position: relative;
  top: 10px;
  left: 29%;
  width: 90px;
}