.postImage {
    width: 600px;
    
}

.slider {
    width: 600px;
    .Posts {
      position: relative;
        left: 40%;
      .slick-prev, .slick-next {
        position: absolute;
        top: 35%
      }
      .slick-prev {
        left: 5%;
        z-index: 1;
      }
      .slick-next {
        right: 5%;
        z-index: -9;
      }
    }
}

.home {
  position: fixed;
  top:0;
  width: 100%;
  z-index: -1;
}

.address {
  
    height: 50px;
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
    font-size: 12px;
}