.postImage {
    height: 550px;
    width:55%;
    object-fit: cover;
    overflow:hidden;
    float: left;
}
.content {
  display: flex;
  justify-content: space-evenly;
}
.text {
  position: relative;
  left: 2%;
  display: flex;
  flex-direction: column;
}

.slider {
  position: relative;
  left: 5%;
  top: 7vh;
  width:55%;
  .Posts {
    position: relative;
      left: 25%;
    .slick-prev, .slick-next {
      position: absolute;
      top: 45%
    }
    .slick-prev {
      
      left: -3%;
      z-index: 1;
    }
    .slick-next {
      right: -19%;
      z-index: 1;
      color: black;
      .MenuSlider {
        position: relative;
        left: 3%;
        width:40%;
        .Menu {
          position: relative;
            left: 30%;
          .slick-prev, .slick-next {
            position: absolute;
            top: 55%
          }
          .slick-prev {
            
            left: 10%;
            z-index: 1;
          }
          .slick-next {
            right: -70%;
            z-index: 1;
            color: black;
          }
        }
    }
    .slick-prev:before,
    .slick-next:before {
      color: black;
    }
    }
  }
}



.home {
  position: fixed;
  top:0;
  width: 100%;
  z-index: -1;
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
}

.address {
  
    height: 50px;
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    font-size: 12px;
}

.adminUpdate {
  position: relative;
  top: -30vh;
  left: 57%;
  background-color: white;
  height: 300px;
  width: 220px;
  border-style: solid;
  border-width: 1px;

}

.adminInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-self: center;
  align-content: center;
}

.update {
  width:150px;
  position: relative;
  left: 15%;
 
}
.updateButton {
  position: relative;
  top: 10px;
  left: 29%;
  width: 90px;
}

.postButton {
  position: relative;
    top: 3vh;
    left: 24%;
    display: flex;
    height: 40px;
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}