.navbar {
    font-family: 'Montserrat', sans-serif;
    height: 2.5em;
    ;
}
.nav {
    position: absolute; 
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34.375em;
 }
.navButton { 
    
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
