.mobileView {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
    a{ color:black;
       text-decoration: none;}
}

.Buttons { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 99vw;
    border-style: solid;
    border-width: .5px;
    border-color: black;
}