.navbar {
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    background-color: white;
    
    }
.company {
    position: absolute;
    left: 100px;
}
.logo {
    position: relative;
    top: 15px;
    left: 40px;
    height:3em;
    float: left;
}
.nav {
    position: absolute; 
    top: 35px;
    right: 30px;
    height: 50px;
    display: flex;
    justify-content: space-between;
   
    width: 34.375em;
    a{ color: black;
       text-decoration: none;
       text-transform: uppercase;
    }
 }
           
.menu {
    display: none;
    color: black;
    text-decoration: none;
    font-size: 35px;
    position: absolute;
    top: 25px;
    right: 40px;
    

}
 

@media (max-width:891px) {
    .nav {display: none;}
    .menu {display: flex;}
    .logo {height: 2em;
        top: 1.5em;
        left: 1em;
    }
    .company {
        font-size: 1.5em;
        top: .5em;
        left: 2.5em;;
    }
}
