



.Options {
    position: relative;
    padding: 15p
}
.form {
    display: flex;
    flex-direction: column;
    width: 10vw;
    position: relative;
    left: 46%;
    top: 10vh;
    text-align: center;
    @include bp(smallDesk) {
        top: 7vh;
        width: 30vw;
        left: 39em;
    }
    @include bp(mobile) {
        left: 33em;
    }
    @include bp(ipadPro) {
        left: 22em;
        top: 0;
        height: 40em;
    }
    @include bp(ipad) {
        left: 18em;
        font-size: 15px;
    }
    @include bp(iphone6P) {
        left: 0;
        width: 100%;
    }
}
 
.names {
    position: relative;
    left:-5em;
    display: flex;
    justify-content: space-between;
    width: 18vw;
    @include bp(smallDesk) {
        left: 4em;
        width: 21em;
    }
    @include bp (ipadPro) {
        left: 0;
        top: 0;
    }
    @include bp (ipad) {
        left: -3em;
       
    }
    @include bp(iphone6P) {
        left: 3.5em;
    }
    @include bp(iphone6) {
        left: 2em;
    }
    @include bp(iphone5) {
        left:0;
    }
}

.registerSubmit {
    position: relative;
    top: 3vh;
    display: flex;
    height: 40px;
    background-color:blue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.registerCancel {
    position: relative;
    top: 5vh;
    width: 100%;
    display: flex;
    height: 40px;
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}