

.Login {
    position: relative;
    top:10vh;
    left: 33%;
    padding: 50px;
    height: 150px;
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    @include bp(smallDesk) {
        left: 38%;
        top: 3em;
    }
    @include bp(ipadPro) {
        top:-1em;
        left: 34%;
    }
    @include bp(ipad) {
        top: -3em;
        left: 28%;
        width: 35%;
    }
    @include bp(iphone6P) {
        width: 70%;
        height: 20%;
        left: 1em;
    }
    @include bp(iphone6) {
        left: 1em;
    }
    @include bp(iphone5) {
       left: -1em;
        
        
    }
    
}


.notMember {
    position: relative;
    top: 6em;
}
.title {
    font-size: 25px;
    position: relative;
    top:-20px;;
    text-align: center;
}
.homeLogin {
    position: relative;
    top: 4vh;
    background-color:blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.homeCancel {
    position: relative;
    top: 4em;
    width: 100%;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.loginError {
    position: relative;
    top: 6em;
}
.background {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: -9;
    opacity: .9;
    
}

.address {
    width: 100%;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: -260px;
}
