
.loginScreen{
    
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.Login {
    background-color: white;
    padding: 50px;
    height: 150px;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
}
.title {
    font-size: 25px;
    position: relative;
    top:-20px;;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
 
}

.background {
    position: absolute;
    width: 100%;
    top: 100px;
    z-index: -1;
    opacity: .9;
    
}

.address {
    width: 100%;
    height:100px;
    background-color: white;
    position: absolute;
    bottom: -250px;
}