
.loginScreen{
    
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.Login {
    padding: 50px;
    height: 120px;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
}
.title {
    font-size: 25px;
    position: relative;
    top:-20px;;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
 
}

