@import './components/Home/Home';
@import './components/Navbar/Navbar';
@import './components//Cart/Cart';
@import './components//Navbar//NavigationPage';
@import './components/Login/Login';
@import './components/About/About';
@import './components/Menu/Menu';
@import './components//Menu/MenuItem';
@import './components//Orders/Orders';
@import './components//Orders/OrderDetails';