.createDish {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    
}

.AddNewDish {
    @extend %button-base;
    background-color: blue;
}
.CancelNewDish {
    @extend %button-base;
    width: 10.4em;
    height:3em;
    background-color: red;
}